@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-none{
  display: none;
}
.menubtn{
  @apply p-2 text-white bg-red-950 cursor-pointer rounded-lg
}

.navLink__active{
  @apply bg-red-950 p-1 px-4 text-white rounded-full cursor-pointer text-center text-lg
}

.navLink{
  @apply text-lg text-red-950 rounded-full cursor-pointer text-center
}

.statusSuccess{
  @apply bg-green-700
}
.statusVarning{
  @apply bg-orange-500
}
.statusDanger{
  @apply bg-red-700
}

